In [ ]:
import pandas as pd
from scipy import stats
import numpy as np

In [ ]:
data = [1.13, 1.55, 1.43, 0.92, 1.25, 1.36, 1.32, 0.85, 1.07, 1.48, 1.20, 1.33, 1.18, 1.22, 1.29]
df = pd.DataFrame(data)

In [ ]:
df_mean= df.mean()
df_mean

0    1.238667
dtype: float64

In [ ]:
df_std = df.std()
df_std

0    0.193164
dtype: float64

In [ ]:
n = len(data)
confidence_level = 0.99
degrees_of_freedom = n - 1

# Task A: Build **99**% Confidence Interval Using Sample Standard *Deviation*

In [ ]:
#first we have to calculate the t-distrubation value using .pff function
t_value = stats.t.ppf((1 + 0.99) / 2, 14)
t_value

2.976842734370834

In [ ]:
#after calulating t-value we have to calculate the margin of error value for the correct confidence interval
margin_of_error = t_value * (df_std / np.sqrt(15))
confidence_interval = (df_mean - margin_of_error, df_mean + margin_of_error)
print("99% Confidence Interval :", confidence_interval)

99% Confidence Interval : (0    1.090197
dtype: float64, 0    1.387136
dtype: float64)

# Task b: Build 99% Confidence Interval Using Known Population Standard Deviation

In [ ]:
population_std = 0.2

In [ ]:
#for calculating Confidence Interval for know population std we can use z-value
z_value = stats.norm.ppf((1 + 0.99) / 2)
z_value

2.5758293035489004

In [ ]:
margin_of_error_z = z_value * (population_std / np.sqrt(n))
confidence_interval_z = (df_mean - margin_of_error_z, df_mean + margin_of_error_z)
print("99% Confidence Interval using known population standard deviation:", confidence_interval_z)

99% Confidence Interval using known population standard deviation: (0    1.105651
dtype: float64, 0    1.371682
dtype: float64)